body{
    font-size: 16px;
    font-family: $main-font;
    color: $main-fontColor;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

.main{
    flex: 1 1 auto;
}

.footer{
    flex: 0 0 auto;
}

// container +30px padding
[class*="__container"]{
    max-width: 1046px;
    padding: 0px 15px;
    margin: 0 auto;
}
@media (max-width: 1076.98px ){
    [class*="__container"] {
        max-width: 970px;
   }
}
@media (max-width: 991.98px){
    [class*="__container"] {
        max-width: 750px;
   }
}
@media (max-width: 767.98px){
    [class*="__container"] {
        max-width: none;
   }
}

._button{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 150%;
    font-weight: 600;
    background-color: #02897A;
    border-radius: 4px;
    color: #fff;
}

._title-h2{
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
}
._title-h3{
    font-weight: 700;
    font-size: 34px;
    line-height: 150%;
    letter-spacing: 0.2px;
}
._title-h5{
    font-weight: 600;
    line-height: 135%;
}
@media (max-width: 424.98px) {
    ._title-h2{
        font-size: 28px;
    }
    ._title-h3{
        font-size: 30px;
    }
}
%text-LH135{
    line-height: 135%;
}